<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>欢迎来到军少瞎白糊</h1>
            <p>你喜欢看就好</p>
            <p><a class="btn btn-primary btn-lg" href="/admin" role="button">管理员登录</a></p>
        </div>
        <div class="list-group">
            <% data.forEach(function(e){ %>
            <a href="/p?_id=<%= e._id %> " class="list-group-item">
                <h3>
                    <%=e.title%>
                </h3>
                <p>日期:<%=e.date%></p>
                <p><%=e.intro%></p>
            </a>
            <% }) %>
        </div>
    </div>
</body>

</html>